{# GenyBundle:Renderer:render.html.twig #}

{% extends 'GenyBundle::base.html.twig' %}

{% block content %}

<fieldset>
    <legend>{{ entity.title }}</legend>

    {% if entity.description %}
        <p>{{ entity.description|nl2br }}</p>
    {% endif %}



</fieldset>

{% endblock %}