{# GenyBundle:Renderer:render.html.twig #}

<fieldset>
    <legend>{{ entity.title }}</legend>

    {% if entity.description %}
        <p class="well">{{ entity.description|nl2br }}</p>
    {% endif %}

    {%
        form_theme form
            '@GenyBundle/Resources/public/js/collection/jquery.collection.html.twig'
            'GenyBundle::theme.html.twig'
    %}

    {{ form(form) }}

</fieldset>
