{# GenyBundle:Renderer:render.html.twig #}

<fieldset>
    <legend>{{ entity.title }}</legend>

    {% if entity.description %}
        <p class="well">{{ entity.description|nl2br }}</p>
    {% endif %}

    {{ form(form) }}

</fieldset>
