{# GenyBundle::theme.html.twig #}

{% block entry_widget %}
    <div class="row">
        <div class="col-md-10">
            {{ form_widget(form) }}
        </div>
        <div class="col-md-2">
            <a href="#" class="collection-delete btn btn-default">Delete</a>
            <a href="#" class="collection-add btn btn-default">Add</a>
        </div>
    </div>
{% endblock %}
