{# GenyBundle:Builder:field.html.twig #}

<div style="pointer-events: none;">
    {{ form(field) }}
</div>

{#

    name, label, hint, readonly
    default value
    options
    validators
    remove
    move up / down
    add

#}