{# GenyBundle:Builder:fieldConstraints.html.twig #}

<div class="geny-script-no-submit">

    {% if view %}

        {{ include(view) }}

    {% else %}

        {{ form(form) }}

    {% endif %}

</div>
