{# GenyBundle:Builder:fieldPreview.html.twig #}

<div id="geny-field-settings-{{ entity.id }}" style="margin-bottom: 3px;" class="pull-right geny-script-field-settings">
    <button class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </button>
</div>

{{ form(field) }}
