{# GenyBundle:Builder:fieldOptions.html.twig #}

<div class="geny-script-no-submit">

    {%
        form_theme form
            '@GenyBundle/Resources/public/js/collection/jquery.collection.html.twig'
            'GenyBundle::theme.html.twig'
    %}

    {{ form(form) }}

</div>
