{# GenyBundle:Builder:fieldOptions.html.twig #}

<div class="geny-script-no-submit">

    {% if view %}

        {{ include(view) }}

    {% else %}

        {%
            form_theme form
                '@GenyBundle/Resources/public/js/collection/jquery.collection.html.twig'
                'GenyBundle::theme.html.twig'
        %}

        {{ form(form) }}

    {% endif %}

</div>
