{# GenyBundle:Builder:form.html.twig #}

{%
    set ajax = {
        'class': 'domajax change',
        'data-endpoint': path('geny_builder_form', {id: id}),
        'data-input': '#geny-form-' ~ id,
        'data-input-attr': 'geny-force-reload',
        'data-geny-force-reload': not isValid,
        'data-output-json': 'form title submit',
        'data-json-form': '#geny-form-' ~ id,
        'data-json-title': '#geny-title-' ~ id,
        'data-json-submit': '#geny-submit-' ~ id,
        'data-lock': '',
    }
%}

<div class="geny-script-no-submit">

    {{ form_start(form) }}

    {{ form_row(form.title, {attr: form.title.vars.attr|merge(ajax)}) }}

    {{ form_row(form.description, {attr: form.description.vars.attr|merge(ajax)}) }}

    {{ form_end(form) }}

</div>
