{# GenyBundle:Builder:render.html.twig #}

{% extends 'GenyBundle:Builder:base.html.twig' %}

{% block main %}

    <div id="main-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:renderMain', {id: entity.id})) }}
    </div>

{% endblock %}

{% block fields %}

    <div id="fields-{{ entity.id }}">
        {% for field in entity.fields %}

        {% endfor %}
    </div>

{% endblock %}

{% block add %}

    <div id="add-{{ entity.id }}">
        <input type="button" class="" value="add" />
    </div>

{% endblock %}
